@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --prim-color: #24CCA8;
    --sec-color: #FFF;
    --scroll : 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: white;
    min-height: 101vh;
}

.joinNotHp {
    background: var(--prim-color);
    color: var(--sec-color);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;

    &.active {
        border-bottom: 3px solid white;
    }

}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: transparent;
    color: var(--sec-color);

    .bg {
        position: absolute;
        inset: 0;
        width: 65%;
        height: 118px;
        transition: opacity 1s;
        background: var(--prim-color);
        z-index: -1;
    }

    .header-wrap {
        z-index: 25;
        padding: 2em 0;
        width: 93%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4em;
        position: relative;

        > a {
            color: black;
            background: var(--sec-color);
            border-radius: 30px;
            padding: 10px 1.8em;
            &:hover {
                filter: brightness(80%);
            }

        }
    }


    a {
        font-size: 1.2rem;
        color: inherit;
    }



    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.5em;
    }

    h1 {
        font-size: 2.8rem;
        font-weight: bold;
    }
}

.sections {
    height: 200vh;
    position: relative;

}


main.homePage {
    position: sticky;
    padding-top: 118px;
    background: var(--prim-color);
    margin: 0 auto;
    overflow-x: hidden;
    inset: 0;

    .homePageWrap {
        width: 93%;
        margin: 0 auto;
        display: flex;
        align-items: center;

        > article {
            z-index: 3;
                flex: 1;
        }
    }
}

.elipse1 {
    position: absolute;
    right: -15%;
    top: 15%;
    z-index: 2;
}

.elipse2 {
    position: absolute;
    right: -13%;
    top: -1%;
    z-index: 1;
    scale: 0.9;
}

.elipse3 {
    position: absolute;
    width: 300px;
    aspect-ratio: 1/1;
    right: 5%;
    top: 0;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0.015079273897058876) 70%);
    z-index: 0;
}

article.heroImage img{
    max-width: 650px;
}

article.heroText {
    color: var(--sec-color);
    display: grid;
    gap: 0.5rem;
    padding-bottom: 60px;

    h1 {
        font-size: 6.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        width: 60%;
        line-height: 160%;
    }

    a {
        font-size: 1.4rem;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
    }
}

.getIt {
    display: flex;
    align-items: center;
    gap: 15px;
    img {
        height: 44px;
        max-width: 150px;
    }

    &.foot img {
        height: 35px;
        max-width: 105px;
    }
}

.observer {
    position: absolute;
    top: 65%;
    height: 250px;
    width: 100%;
    z-index: -1;
}

.features {
    display: flex;
    place-items: center;
    z-index: 4;
    padding-top: 120px;
    overflow: hidden;
    height: 100vh;
    position: sticky;
    inset: 0;
    translate: 0 calc(1% * (max(var(--scroll), 10) - var(--scroll)) * 10 );
    transition: translate 0.7s ease-in;
    background: var(--sec-color);
}

.rect {
    position: absolute;
    right: 0;
    top: 8%;
    z-index: -1;
    transform: scale(1.2, 1.1);
}

.nextText {
    position: absolute;
    inset: 0;
    translate: 0 300%;
}

.initalText {
    position: relative;

}

.featuresWrap {
    color: black;

    .featuresTextWrap {
        position: relative;
        margin-left: 2rem;

        h1 {
            font-size: 3rem;
            margin-left: 3rem;
            margin-bottom: 2rem;
        }

        p {
            width: 45%;
            line-height: 160%;
            margin-left: 3rem;
        }
        
    }
    .featuresTextWrap::before {
        content: '';
        position: absolute;
       top: 0;
        width: 5px;
        background: var(--prim-color);
        height: 100%;
    }

}

section.featuresWrap {
    display: flex;
    width: 93%;
    margin: 0 auto;
    align-items: center;

    > article {
        flex: 7;
    }

    .featuresImage {
        margin-top: 1rem;
        margin-right: 3rem;
        flex: 3;
        img {
            max-width: 350px;
        }
    }
}

footer {
    padding: 1.5em 5em;
    background: #0F172A;
    z-index: 10;

    .footerTop {

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4em;

        h1 {
            font-size: 1.9rem;
        }

        nav {
            align-items: center;
            display: flex;
            gap: 30px;
        }

        > a {
            color: #0F172A;
            background: var(--sec-color);
            border-radius: 30px;
            padding: 10px 1.8em;
            font-weight: bold;

            &:hover {
                filter: brightness(80%);
            }
        }

    }


    .footerNav {
        margin: 1em 0;
        display: flex;
        justify-content: space-between;
        width: 65%;
        gap: 30px;

        article {
            display: flex;
            flex-direction: column;
            gap: 20px;

            a {
                font-weight: 300;
            }

            .footHeading {
                font-weight: bold;
            }
        }
    }

    .footerEnd {
        display: flex;
        padding: 1rem 0;
        justify-content: space-between;
        align-items: center;

        .footTerms {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        .footSocial {
            display: flex;
            gap: 15px;
            align-items: center;
            ion-icon {
                font-size: 1.5rem;
            }
        }
    }
}


.slideIn {
    animation: slideIn ease-in 1s;
}

.changeColor {
    animation: changeColor forwards 1s ease-in;
}

.changeColorRev {
    animation: changeColorRev forwards 1s ease-in;
}

.changeBtnColor {
    animation: changeBtnColor forwards 1s ease-in;
}

.changeBtnColorRev {
    animation: changeBtnColorRev 1s ease-in forwards;
}

.textGoBye {
    animation: textGoBye linear forwards 0.5s;
}

.textGoByeRev {
    animation: textGoByeRev linear forwards 0.5s;
}

.changeBorder {
    animation: changeBorderColor forwards 1s;
}

.fadeTextIn {
    animation: textFadeIn linear 0.5s forwards;
}

.fadeTextInRev {
    animation: textFadeInRev linear 0.5s forwards ;
}



@keyframes textFadeIn {
    80% {
        translate: 0 30px;
    }
    100% {
        translate: 0 0;
    }
}

@keyframes textFadeInRev {
    0% {
    translate: 0 0;
    }
    10% {
        translate: 0 -30px;
    }
    100% {
        translate: 0 260%;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes changeColor{
    0% {
        color: var(--sec-color);
        background: transparent;
    }

    100% {
        color: var(--prim-color);
        background:var(--sec-color);
    }
}

@keyframes changeColorRev{


    0% {
        color: var(--prim-color);
        background:var(--sec-color);
    }
    100% {
        color: var(--sec-color);
        background: transparent;
    }
}

@keyframes changeBorderColor {
    100% {
        border-bottom: 2px solid var(--prim-color);
    }

}

@keyframes changeBtnColor {
    0% {
        color: black;
        background: var(--sec-color);
    }

    100% {
        background: var(--prim-color);
        color: var(--sec-color);
    }
}

@keyframes changeBtnColorRev {
    1000% {
        color: black;
        background: var(--sec-color);
    }

    0% {
        background: var(--prim-color);
        color: var(--sec-color);
    }
}

@keyframes textGoBye {
    0% {
        translate: 0 0;
    }

    30% {
        translate: 0 40px;
    }

    100% {
        translate: 0 -250%;
    }
}

@keyframes textGoByeRev {
    100% {
        translate: 0 0;
    }

    80% {
        translate: 0 40px;
    }

    0% {
        translate: 0 -250%;
    }
}